# Activer le moteur de réécriture
RewriteEngine On

# Rediriger toutes les requêtes vers index.php sauf si fichier ou répertoire existant
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?action=$1 [L,QSA]

# Empêcher l'accès direct aux répertoires models et views
RewriteRule ^(models|views)/ - [F,L]

# Désactiver la consultation des répertoires
Options -Indexes

# Définir le fuseau horaire par défaut
php_value date.timezone "Europe/Paris"